[run]
parallel = true
concurrency=multiprocessing
source = .
omit =
    */migrations/*
    */commands/*
    */test_*.py
    */manage.py
    */settings.py
    */asgi.py
    */wsgi.py

[report]
ignore_errors = true

[html]
directory = ./coverage
